- flash.each do |key, value|
  .alert.alert-top.alert-dismissible{class: "alert-#{bootstrap_color key}", role: "alert"}
    .container
      %button.close{type: "button", "data-dismiss" => "alert"}
        %span{"aria-hidden" => "true"} &times;
        %span.sr-only= t 'views.actions.close'
      = value
