.container.page-margin
  -# TEMPORARY, PLS FIX (TODO)
  .jumbotron
    %h1 Stellate
    %p A microblogging site that doesn't completely suck.
    %p
      %a.btn.btn-primary.btn-lg{href: '/register', role: 'button'} Sign up
