.container.page-margin
  -# TEMPORARY, PLS FIX (TODO)
  .jumbotron
    %h1 Stellate
    %p= t('views.index.description')
    %p
      %a.btn.btn-primary.btn-lg{href: '/register', role: 'button'}= t('voc.sign_up')
