.container.page-margin
  -# TEMPORARY, PLS FIX (TODO)
  .jumbotron
    %h1 Stellate
    %p= t('static.index.description')
    %p
      %a.btn.btn-primary.btn-lg{href: '/register', role: 'button'}= t('static.index.signin')
