%li.dropdown
  %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
    = current_user.screen_name
    %b.caret
  %ul.dropdown-menu
    - if current_user.has_role? :admin
      = render 'header/admin'
    %li
      %a{href: destroy_user_session_path, data: {method: :delete} }
        = t('voc.sign_out')
